*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img,
svg {
  max-width: 100%;
}
svg {
  max-height: 100%;
  fill: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  line-height: 1.6;
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}