<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow" />
    {{> fonts}}
    {{> meta}}
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
	{{> favicon}}
</head>
<body>
    
    {{> body}}

    <script src="{{root}}assets/js/libs.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
</body>
</html>